<section>
  <a href="https://roobet.com/?ref=godimsoaked" style="cursor: pointer">
    <div class="toggle-images" style="margin-top: 50px;position: sticky;">
      <img
        class="game-image clash-image"
        id="clashImage"
        src="../../../assets/img/roobetlogo.png"
        style="
          cursor: pointer;
          opacity: 1;
          background-color: transparent;
          border-radius: 100%;
        "
        onclick="window.location.href='/'"
      />
    </div>
  </a>
  <div
    class="text"
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    "
  >
    <span class="title">
      <div class="price-wrapper glow" style="text-align: center">$ 2,000</div>
      CODE <span class="glow">GODIMSOAKED</span> Leaderboard!
    </span>
    <span class="subtitle" style="text-align: center">
      Every <b>BET</b> on Roobet under Code <b>GODIMSOAKED </b> counts towards
      your score. <br />
      <i>The leaderboard updates every 15min.</i><br />
      <div class="button-container" style="position: sticky;">
        <a
          class="custom-button"
          href="https://roobet.com/?ref=godimsoaked"
          style="cursor: pointer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
            stroke="none"
          >
            <path d="M8 5v14l11-7z"></path>
          </svg>
          PLAY NOW !
        </a>
      </div>
    </span>
  </div>
</section>
